body {
    background-color: #FADCD9;
}
h1 {
    color: maroon;
}

.post {
    background-color: antiquewhite;
}

.user {
    font-style: italic;
}

a {
    text-decoration: none;
}

.post {
    background-color: #F8AFA6;
}

.delete {
    background-color: #F79489;
}

h1 {
    margin: auto;
    text-align: center;
}



