section {
    margin-top: 100px;
}

div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: pink;
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-of-type(2n) {
    background-color: antiquewhite;
}
div:nth-of-type(3n) {
    background-color: aqua;
}


/* Transform........... */

#one {
    transform: rotate(45deg);
}

#two {
    transform: scale(0.5);
}

#three {
    /* transform: translate(100px,100px); */
    transform: translateX(100px);
}

#four {
    transform: skew(30deg);
}

#five {
    transform: rotate(30deg) translateX(150px);
}

#six {
    box-shadow: 2px 2px 8px black;
}

#seven {
    width: 800px;
    height: 400px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url("/back32.jpg");
    background-size: auto;
}