.card {
    width: 220px;
    height: 220px;
    
   display: inline-block;
   margin: 10px;
   border-radius: 5px;
   box-shadow: 2px 4px 8px black;
   transition: 2s;
}

img {
    width: 100%;
}

.card:hover {
    box-shadow: 2px 8px 16px goldenrod;
}